<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmoochezCo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/d5e11d398a.js" crossorigin="anonymous"></script>
</head>
<body>

<section class="sub-header">
    <nav>
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='smoochies_logo.png') }}"></a>
        <div class="nav-links" id="navLinks">
            <i class="fa-solid fa-x" onclick="hideMenu()"></i>
            <ul>
                <li><a href="{{ url_for('home') }}">HOME</a></li>
                <li><a href="{{ url_for('about') }}">ABOUT</a></li>
                <li><a href="{{ url_for('gallery') }}">GALLERY</a></li>
                <li><a href="{{ url_for('custom_order_page') }}">CUSTOM ORDER</a></li>
                
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('materials') }}">MATERIALS</a></li>
                    <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">LOGIN</a></li>
                {% endif %}
            </ul>
        </div>
        <i class="fa-solid fa-bars" onclick="showMenu()"></i>
    </nav>
    <h1>Materials</h1>
</section>

<section class="our-mission" style="text-align: center;">
    <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR29oLXyqE7K01lf1wZN4y7Y12xy0grbi2JaN6mJuY7DFDMXnABc3IdKAw8-IZbtFOh760mjwf0w7WZ/pubhtml?widget=true&amp;headers=false" width="90%" height="500px" frameborder="0"></iframe>
</section>

<!-- JS for toggle menu -->
<script>
    var navLinks = document.getElementById("navLinks");
    function showMenu() {
        navLinks.style.right = "0";
    }
    function hideMenu() {
        navLinks.style.right = "-200px";
    }
</script>

</body>
</html>
